<!DOCTYPE html>
<html lang="en">
<head>
    <style>
		body {
		    background-color: rgba(232, 212, 228, 1);
		}
		h2 {
		    color: white;
		    text-align: center;
		    font-size: 70px;
		}
		.main{
		    height: 40px;
		    width: 300px;
		    background-color: white;
		}
        .footer{ 
       position: fixed;     
       text-align: center;    
       bottom: 0px; 
       width: 100%;
    }
	</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
</head>
<body>
    <header>
        <h2>NYU Voice</h2>
    </header>
    <main>
        <section>
            <h1>Login Failed</h1>
            <p>Sorry, your login attempt was unsuccessful. Please try again.</p>
            <a href="{% url 'login' %}">Back to Login</a>
        </section>
    </main>
    <footer>
        <div class="footer">&copy; New York University CS4523-A Team B16. All rights reserved.</p>
    </footer>
</body>
</html>