{% extends 'NYUVoiceapp/base.html' %}
{% block content %}
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<h1>Restaurant Rating</h1>
<div class="option">
	<a href="{% url 'res-create' %}">
		<button >Add Rating</button>
	</a>
</div>
<div class="card m-4">
	<h5 class="card-header"><a href="{% url 'NYUVoiceapp-message' CourseReview.author %}">{{ object.author }}</a></h5>
	<div class="card-body">
	<h5 class="card-title">{{ object.restaurant }}</h5>
	<h7 class="card-text">{{ object.rating }} out of 5</h7>
	<br>
	<br>
	<p class="card-text">{{ object.date_posted|date:"F d, Y" }}
	{% if object.author == user %}
		<a href="{% url 'res-delete' object.id %}">Delete</a>
	{% endif %}
	</p>
	</div>
</div>
{% endblock %}

    <!-- Optional JavaScript -->

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
{% endblock %}
	
</body>
</html>