body {
    background-color: rgb(255, 255, 255);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #57068c; 
    overflow: hidden;
    z-index: 999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.topnav a {
    float: left;
    color: #fff;  
    text-align: center;
    padding: 26px 20px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #411a5b;
    color: #fff;
}

.topnav .home {
    background-color: #7a14bd;
    color: white;
}

.topnav .icon {
    display: none;
}

.menu-links-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.auth-links-container {
    display: flex;
    align-items: center;
}

.main-content {
  margin-top: 100px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 70px;
}

ul {
    list-style-type: none;
    flex-direction: row;
    font-size: 40px;
    display: flex;
    gap: 70px;
    justify-content: center;
}

article {
    margin: 25px;
    display: flex;
}

article section {
    border: solid 0px black;
    flex-grow: 1;
    width: 70%;
}


#col1 {
    flex: 2;
}

#col1 img {
    width: 100%;
}

#col2 {
    flex: 6;
    padding: 50px;
    font-size: 14pt;
    font-family: "Helvetica", "Arial", sans-serif;
}

.main {
    height: 40px;
    width: 300px;
    background-color: white;
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li {
    color: orange;
}

.rating-list {
    display: inline-block;
    list-style: none;
}
.checked {
    color: orange;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

.option {
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

.option a {
    text-decoration: none;
}

.option button {
    padding: 10px;
    background-color: #0000004b; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option button:hover {
    background-color: #00000082; 
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    font-size: 18px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button[type=submit] {
    background-color: #57068c;
    color: white;
    padding: 14px 100px; 
    margin: 8px auto; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; 
}


button[type=submit]:hover {
    background-color: #411a5b;
}

a {
    color: #4CAF50;
}

.flashes {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
.flashes li {
    font-size: 16px;
    background-color: #f0a5a0;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
}
  